<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
	<add name="LibraryDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\shari\source\repos\KC_20_Gimalova_lab7_var9\KC_20_Gimalova_lab7_var9\Database1.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>